#map {
    height: 400px;
    width: 100%;
    max-width: 400px;
    margin: 20px auto 0 auto; /* Center horizontally with top margin */
    border: 1px solid #ccc;
    border-radius: 10px;
    display: block;
}
